@import url(./all-themes.css);
@import "tailwindcss";


@reference "./flexiwind/base.css";
@reference "./flexiwind/form.css";
@reference "./flexiwind/button.css";
@reference "./flexiwind/ui.css";
@reference "./flexiwind/utils.css";
@reference "./flexiwind/intents.css";


@plugin "@iconify/tailwind4" {
    prefixes: ph, simple-icons;
    scale: 1.2;
}



@custom-variant dark (&:is(.dark *));


:root {
    --radius-ui: 0.5rem;
    --ui-input-focus-outline: var(--primary);
    --ui-input-place-holder: var(--c-gray-500);
    --ui-input-fg: var(--foreground);
    --ui-input-invalid-outline: var(--destructive);
    --ring-background: var(--primary);
    --ring-offset-color: var(--background);


    --ui-radius: var(--radius-lg);
    --card-radius: var(--radius-lg);
    --focus-ring: color-mix(in oklab, var(--primary) 25%, transparent);



    --dropdown-item-outline: var(--color-primary);
    --dropdown-item-danger-outline: var(--color-destructive);
    --dropdown-item-hover-and-select: var(--color-muted);
    --dropdown-item-hover-and-select-fg: var(--color-foreground);
    --dropdown-item-selected-fg: var(--color-foreground);
    --dropdown-item-danger-fg: var(--color-destructive);
    --dropdown-item-warning-fg: var(--color-warning);
    --dropdown-item-danger-hover-and-select: color-mix(in oklab, var(--color-destructive) 10%, transparent);
    --dropdown-item-danger-hover-and-select-fg: var(--color-destructive);
    --dropdown-item-warning-hover-and-select: color-mix(in oklab, var(--color-warning) 10%, transparent);
    --dropdown-item-warning-hover-and-select-fg: var(--color-warning);

    --docs-bg: --alpha(var(--color-gray-50)/50%);


    --pattern-fg: --alpha(var(--color-border)/50%);
}

.dark {

    --dropdown-item-danger-hover-and-select: color-mix(in oklab, var(--color-destructive) 18%, transparent);
    --dropdown-item-danger-hover-and-select-fg: var(--color-destructive);
    --dropdown-item-warning-hover-and-select: color-mix(in oklab, var(--color-warning) 18%, transparent);
    --dropdown-item-warning-hover-and-select-fg: var(--color-warning);


    --docs-bg: var(--color-gray-950);

    --pattern-fg: --alpha(var(--color-border-strong)/60%);
}



@theme inline {
    --font-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --radius-ui: var(--ui-radius);
    --radius-card: var(--card-radius);
    --radius-checkbox: var(--checkbox-radius);
    --radius-card-inner: calc(var(--card-radius) - var(--card-padding));

    --color-dark: var(--c-gray-950);
    --color-pattern-fg: var(--pattern-fg);


    /* ═══ Intent tokens ═══ */

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-info: var(--info);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);


    /* ═══ Flexiwind extensions ═══ */
   
    --color-title-foreground: var(--fg-title);
    --color-subtle: var(--bg-subtle);
    --color-subtitle: var(--fg-subtitle);
    --color-surface: var(--bg-surface);
    --color-overlay: var(--popover);

    --color-border-strong: var(--border-strong);
    --color-border-card: var(--border-card);
    --color-border-input: var(--border-input);


    --color-gray-50: var(--gray-50);
    --color-gray-100: var(--gray-100);
    --color-gray-200: var(--gray-200);
    --color-gray-300: var(--gray-300);
    --color-gray-400: var(--gray-400);
    --color-gray-500: var(--gray-500);
    --color-gray-600: var(--gray-600);
    --color-gray-700: var(--gray-700);
    --color-gray-800: var(--gray-800);
    --color-gray-900: var(--gray-900);
    --color-gray-950: var(--gray-950);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);


}

@utility docs-sidebar {
    @apply fixed lg:sticky top-0 left-0 -translate-x-full lg:top-16 fx-open:translate-x-0 invisible fx-open:visible lg:visible transition-all lg:transition-none duration-300 ease-linear lg:transition-none w-11/12 max-w-80 lg:max-w-none md:w-full h-dvh lg:h-[calc(100dvh-4rem)] lg:translate-x-0;
}


@utility docs-container {
    @apply lg:max-w-[84rem] xl:max-w-[88rem] w-full mx-auto;
}


@utility tab-content-ui {
    top: calc(var(--spacing, 0.25rem) * 25);
    @apply fixed right-4 sm:right-8 xl:sticky flex flex-col w-full overflow-hidden overflow-y-auto;
}

@utility tab-content-ui-states {
    @apply invisible fx-open:visible opacity-0 translate-y-4 fx-open:translate-y-0 fx-open:opacity-100 xl:fx-open:opacity-100 xl:fx-open:visible xl:opacity-100 xl:visible xl:translate-y-0 xl:fx-open:translate-y-0;
}

@utility tab-content-ui-background {
    @apply border border-border/90 bg-muted/70 backdrop-blur-xl lg:bg-transparent lg:border-transparent;
}

@utility box-tab-content {
    @apply rounded-lg xl:p-0 z-40 h-max max-h-90 xl:max-h-none xl:h-[calc(100dvh-4rem)] w-60 xl:w-full;
}

@utility tab-content-animation {
    @apply ease-linear duration-200 dark:ease-linear;
}


@utility inline-code {
    background-color: --alpha(var(--gray-100)/ 60%);
    border-width: 1px;
    border-color: --alpha(var(--gray-200)/ 90%);
    border-radius: 0.5rem;
    padding: 0.125rem 0.5rem;
    color: var(--c-gray-700);

    &:is(.dark *) {
        background-color: --alpha(var(--gray-900)/ 60%);
        border-color: --alpha(var(--gray-800)/ 60%);
        color: var(--gray-300);
    }
}

@utility strong-text {
    @apply text-foreground;
}

@utility ui-line-single-card {

    &::after,
    &::before {
        @apply h-px flex bg-linear-to-l from-muted/60 via-15% via-muted to-85% to-muted/60
    }
}


@utility ui-preview-height {
    @apply h-[calc(100vh-6rem)] lg:max-h-170
}

@utility ui-preview-frame-box {
    @media (width >=64rem) {
        &[data-size="tablet"] {
            @apply py-4;
        }

        &[data-size="mobile"] {
            @apply py-8;
        }
    }
}

@utility ui-preview-frame {
    @media (width >=64rem) {

        &:is(:where(.group)[data-size="tablet"] *),
        &:is(:where(.group)[data-size="mobile"] *) {
            @apply border border-border-strong shadow rounded-ui overflow-hidden;
        }
    }
}

@utility linear-gradient-pattern {
    background-image: repeating-linear-gradient(-315deg, var(--pattern-fg) 0, var(--pattern-fg) 1px, transparent 0, transparent 50%);
    background-size: 16px 16px;
    background-attachment: fixed;
}

@utility noise-subtle {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.15'/%3E%3C/svg%3E");
}


[x-persist] {
    height: 100%;
}

@layer base {
    * {
        text-rendering: optimizeLegibility;
        scrollbar-width: thin;
        scrollbar-color: var(--color-border-strong) transparent;
    }

    html {
        font-variation-settings: normal;
        height: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-tap-highlight-color: transparent;
    }



    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-border-strong);
        border-radius: 4px;
    }
}


html,
.preview-block html {
    max-width: 100vw;
    scroll-behavior: smooth;
}


.scrollbar-hidden,
[data-hidden-scrollbar] {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-padding-left: 10px;
    scroll-padding-right: 10px;
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar,
[data-hidden-scrollbar]::-webkit-scrollbar {
    display: none;
}


/* For modal animation  */
@keyframes modal-animation-in {
    from {
        opacity: 0;
        transform: translateY(-1.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modal-animation-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-0.75rem);
    }
}