@import url(./font-mono.css);
.steps {
    counter-reset: step;
    position: relative;
}

.step {
    position: relative;
    padding-left: 2.5rem;
    padding-bottom: 2rem;
    counter-increment: step;
}

.step:last-child {
    padding-bottom: 0rem;
}

.step::before {
    position: absolute;
    display: flex;
    content: counter(step);
    left: 0;
    align-items: center;
    justify-content: center;
    width: calc(1.5rem + 1px);
    height: calc(1.5rem + 1px);
    font-size: 0.675rem;
    font-weight: 400;
    border-radius: 0.375rem;
}

.step::after {
    position: absolute;
    top: calc(1.875rem + 1px);
    left: 0.6875rem;
    bottom: 0;
    content: "";
    width: 1px;
}

.step:last-child::after {
    display: none;
}

pre.shiki{
    background: transparent !important;
}

pre{
    font-family: 'Geist Mono';
    font-weight: 100;
    font-size: 0.875rem;
}

.hidden-scrollbar {
  content: '';
}

@media (max-width: 1279px) {
  .hidden-scrollbar {
    overflow: hidden !important;
  }
}