@import '@fontsource/geist-sans';

/* @font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./font/geist-sans-400.woff2) format('woff2'), url(./font/geist-sans-700.woff) format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./font/geist-sans-500.woff2) format('woff2'), url(./font/geist-sans-500.woff) format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./font/geist-sans-600.woff2) format('woff2'), url(./font/geist-sans-600.woff) format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./font/geist-sans-700.woff2) format('woff2'), url(./font/geist-sans-700.woff) format('woff');
} */